*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(190, 190, 190);
    font-family: Arial, Helvetica, sans-serif;
    
    
}
p{
    color: yellow;
}
h1{
    color: gainsboro;
}
.divv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    
}
img{
    width: 500px;
    height: 10px;
    height: auto;
}
.box1{
    background-color: rgb(100, 100, 100);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 220px;
    
}
.nabv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5vh;
    background-color: gray;
}
.logo{
    margin-left: 20px;
    background-color: blue;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    z-index: 300;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    font-size: 25px;
}
.menu a{
    list-style: none;
    text-decoration: none;
    color: white;
}
.log{
    margin-right: 20px;
    background-color: rgb(180, 180, 182);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: larger;
    border: none;
}