*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 250vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navv{
    margin: 28px;
    display: flex;
    gap: 15px;
    font-size: large;
}
.navv a:nth-child(6){
    margin-right: auto;
}
.navv a{
    text-decoration: none;
    color: black;
}
.navv a:hover{
    text-decoration: underline;
}
.h11{
    font-size: 32px;
    display: flex;
    justify-content: center;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin-top: 80px;
}
.low{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}
.mbot{
    
    width: 260px;
    height: 60px;
    position: absolute;
    left: 43%;
    margin-top: 85px;
    border: none;
    background-color: rgb(236, 44, 140);
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    box-shadow:  0 0 6px  rgb(236, 44, 140);
}
.loww{
    position: absolute;
    left: 30%;
    bottom: -1%;
    font-size: 45px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37rem;
    font-size: 22px;

}

.caro div{
    border: 1px solid black;
    min-width: 350px;
    height: 240px;
    margin: 20px;
    animation: spin 3s infinite linear;
    box-shadow: 0 0 10px gray;
}
.caro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    overflow-x: auto;
    
}
.caro::-webkit-scrollbar{
    display: none;
}
@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}
.house1{
    position: absolute;
    left: 70%;
    top: 34%;
}
.house2{
    position: absolute;
    right: 70%;
    top: 39%;
}
.house3{
    position: absolute;
    top: 85%;
}
.box3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box6 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box8 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin-top: 90px;
}
#price1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
#pc{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    margin-left: 3px;
}
#car{
    display: flex;
    width: 80%;
    height: 50%;
    margin-left: 170px;
    margin-top: 50px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
#car .cat{
    width: 250px;
    height: 38vh;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}